.linha1, .linha2, .linha3{
    width:500px ;
    height: 200px;
    flex-direction: row;
}

.linha11, .linha12, .linha13, .linha14, .linha15, .linha21, .linha22, .linha23, .linha24, .linha25, .linha31, .linha32, .linha33, .linha34, .linha35{
    width:20%;
    height:100%;
    border: 1px solid black;
} 

.foto{
    width: 80%;
    height: 80%;
    border: 1px solid black;
    margin-top: 10%;
    margin-left: 10%;
}
.cima{

}
.baixo{
     
}
